In [2]:
import pandas as pd

In [16]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
engine.connect()

In [19]:
query = """
SELECT 1 as number;
"""
pd.read_sql(query, con=engine)

   number
0       1

In [20]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
    schemaname != 'information_schema';
"""
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [21]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [22]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [23]:
df.to_sql(name='yellow_tripdata_trip', con=engine, index=False)

100

In [28]:
from time import time

In [44]:
t=time()
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 10
"""
print(pd.read_sql(query, con=engine))
t1 = time()
print(t1-t)

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2021-01-01 00:30:10   2021-01-01 00:36:12              1.0
1         1  2021-01-01 00:51:20   2021-01-01 00:52:19              1.0
2         1  2021-01-01 00:43:30   2021-01-01 01:11:06              1.0
3         1  2021-01-01 00:15:48   2021-01-01 00:31:01              0.0
4         2  2021-01-01 00:31:49   2021-01-01 00:48:21              1.0
5         1  2021-01-01 00:16:29   2021-01-01 00:24:30              1.0
6         1  2021-01-01 00:00:28   2021-01-01 00:17:28              1.0
7         1  2021-01-01 00:12:29   2021-01-01 00:30:34              1.0
8         1  2021-01-01 00:39:16   2021-01-01 01:00:13              1.0
9         1  2021-01-01 00:26:12   2021-01-01 00:39:46              2.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           2.10         1.0                  N           142            43
1           0.20         1.0                  N           238           151
2          14.70         1.0                  N           132           165
3          10.60         1.0                  N           138           132
4           4.94         1.0                  N            68            33
5           1.60         1.0                  N           224            68
6           4.10         1.0                  N            95           157
7           5.70         1.0                  N            90            40
8           9.10         1.0                  N            97           129
9           2.70         1.0                  N           263           142

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          8.0    3.0      0.5        0.00           0.0
1             2          3.0    0.5      0.5        0.00           0.0
2             1         42.0    0.5      0.5        8.65           0.0
3             1         29.0    0.5      0.5        6.05           0.0
4             1         16.5    0.5      0.5        4.06           0.0
5             1          8.0    3.0      0.5        2.35           0.0
6             2         16.0    0.5      0.5        0.00           0.0
7             2         18.0    3.0      0.5        0.00           0.0
8             4         27.5    0.5      0.5        0.00           0.0
9             1         12.0    3.0      0.5        3.15           0.0

   improvement_surcharge  total_amount  congestion_surcharge airport_fee
0                    0.3         11.80                   2.5        None
1                    0.3          4.30                   0.0        None
2                    0.3         51.95                   0.0        None
3                    0.3         36.35                   0.0        None
4                    0.3         24.36                   2.5        None
5                    0.3         14.15                   2.5        None
6                    0.3         17.30                   0.0        None
7                    0.3         21.80                   2.5        None
8                    0.3         28.80                   0.0        None
9                    0.3         18.95                   2.5        None
0.010031938552856445

In [45]:
t=time()

print(df.head(10))
t1 = time()
print('seconds %.10f'% (t1-t))

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2021-01-01 00:30:10   2021-01-01 00:36:12              1.0
1         1  2021-01-01 00:51:20   2021-01-01 00:52:19              1.0
2         1  2021-01-01 00:43:30   2021-01-01 01:11:06              1.0
3         1  2021-01-01 00:15:48   2021-01-01 00:31:01              0.0
4         2  2021-01-01 00:31:49   2021-01-01 00:48:21              1.0
5         1  2021-01-01 00:16:29   2021-01-01 00:24:30              1.0
6         1  2021-01-01 00:00:28   2021-01-01 00:17:28              1.0
7         1  2021-01-01 00:12:29   2021-01-01 00:30:34              1.0
8         1  2021-01-01 00:39:16   2021-01-01 01:00:13              1.0
9         1  2021-01-01 00:26:12   2021-01-01 00:39:46              2.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           2.10         1.0                  N           142            43
1           0.20         1.0                  N           238           151
2          14.70         1.0                  N           132           165
3          10.60         1.0                  N           138           132
4           4.94         1.0                  N            68            33
5           1.60         1.0                  N           224            68
6           4.10         1.0                  N            95           157
7           5.70         1.0                  N            90            40
8           9.10         1.0                  N            97           129
9           2.70         1.0                  N           263           142

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          8.0    3.0      0.5        0.00           0.0
1             2          3.0    0.5      0.5        0.00           0.0
2             1         42.0    0.5      0.5        8.65           0.0
3             1         29.0    0.5      0.5        6.05           0.0
4             1         16.5    0.5      0.5        4.06           0.0
5             1          8.0    3.0      0.5        2.35           0.0
6             2         16.0    0.5      0.5        0.00           0.0
7             2         18.0    3.0      0.5        0.00           0.0
8             4         27.5    0.5      0.5        0.00           0.0
9             1         12.0    3.0      0.5        3.15           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    0.3         11.80                   2.5          NaN
1                    0.3          4.30                   0.0          NaN
2                    0.3         51.95                   0.0          NaN
3                    0.3         36.35                   0.0          NaN
4                    0.3         24.36                   2.5          NaN
5                    0.3         14.15                   2.5          NaN
6                    0.3         17.30                   0.0          NaN
7                    0.3         21.80                   2.5          NaN
8                    0.3         28.80                   0.0          NaN
9                    0.3         18.95                   2.5          NaN
seconds 0.0040054321